In [1]:
import numpy as np
import matplotlib.pyplot as plt
#%matplotlib inline
import processFile
import math
import pandas as pd

In [2]:
# enter sensor type (pressure, accelerometer, humidity, magnetometer, temperature)
value_type = "accelerometer"

# enter file name
file = 'C:\Users\Ludovic\Documents\Capstone\mesures\Bedroom\\mattress_test.csv'

# indicate if file type is new (with sensor id) or old (first version of the csv files): True or False
new = True

In [3]:
unit = {}
unit['temperature'] = 'C'
unit['accelerometer'] = 'G'
unit['humidity'] = 'rH'
unit['magnetometer'] = 'uT'
unit['pressure'] = 'mbar'

time, data = processFile.openFile(file, value_type, new, False)

Opening file...

In [36]:
fig, ax = plt.subplots(1)

if value_type in {"magnetometer"}:
    dataX = data[:,0]
    dataY = data[:,1]
    dataZ = data[:,2]
    dataN = np.sqrt(dataX*dataX+dataY*dataY+dataZ*dataZ)
    
    plt.plot(time, dataN, color='r', label = 'Norm of magnetic field')  #absolute value of the Y axis of magnetometer
    
elif value_type == "accelerometer":
    accelerometerX = data[:,0]
    accelerometerY = data[:,1]
    accelerometerZ = data[:,2]
    # plt.plot(time, accelerometerX, color='r', label = value_type+'X')
    # plt.plot(time, accelerometerY, color='b', label = value_type+'Y')
    # plt.plot(time, accelerometerZ, color='g', label = value_type+'Z')
    dataN = np.sqrt(accelerometerX*accelerometerX+accelerometerY*accelerometerY+accelerometerZ*accelerometerZ)
    plt.plot(time, dataN , color='r', label = value_type+'Norm')

elif value_type == "gyroscope":
    gX = data[:,0]
    gY = data[:,1]
    gZ = data[:,2]
    # plt.plot(time, accelerometerX, color='r', label = value_type+'X')
    # plt.plot(time, accelerometerY, color='b', label = value_type+'Y')
    # plt.plot(time, accelerometerZ, color='g', label = value_type+'Z')

    dataN = np.sqrt(gX*gX+gY*gY+gZ*gZ) 
    plt.plot(time, dataN, color='r', label = value_type+'Norm')

elif value_type == "temperature":
    ambient_temp = data[:,0]
    object_temp = data[:,1]

    plt.plot(time, ambient_temp, color='r', label = 'ambient_temp')
    plt.plot(time, object_temp, color='b', label = 'object_temp')

else:
    plt.plot(time, data, color='r', label = value_type)


plt.xlabel('Time (minutes)')
plt.ylabel(value_type.capitalize() + ' (' + unit[value_type] + ')')
plt.legend(loc='best')
plt.title('Simulations of pillbox usage')
plt.show()

In [5]:
x = time
y = dataN

In [6]:
# define the short and long time windows 
window_short = 10
window_long_factor = 5 # how many times longer is going to be the long window

In [7]:
# use STA/LTA Triggering
# The STA/LTA ratio method compares the average energy in a short term average (STA)
# leading window to that in a long term average (LTA) trailing window.

In [8]:
temp = list(zip(x,y))  #temporary list to prepare for the data frame (using pandas)
df = pd.DataFrame(data = temp, columns = ['Time', 'Data']) #data frame (using pandas)

In [9]:
temp = [{'time': 0, 'value': 0, 'event': 0, 'STA': 0, 'LTA': 0,'STA_LTA': 0}]

# will contain 3 columns; time = time of the time window, 
# value = mean value in the time window, event = dummy variable (1 if event, 0 otherwise)
results = pd.DataFrame(temp)

In [10]:
foo = df.copy()
print foo.shape

(800584, 2)

In [11]:
print foo.shape
df = foo[foo['Data'] != 0]
print df.shape
print df.head(2)

(800584, 2)
(661499, 2)
       Time      Data
0  0.000000  1.131689
1  0.017083  1.131417

In [12]:
plt.plot(df.Time, df.Data , color='r', label = value_type+'Norm')
plt.xlabel('Time (minutes)')
plt.ylabel(value_type.capitalize() + ' (' + unit[value_type] + ')')
plt.legend(loc='best')
plt.title('Simulations of pillbox usage')
plt.show()

In [13]:
results

   LTA  STA  STA_LTA  event  time  value
0    0    0        0      0     0      0

In [14]:
# substract mean value of signal
mu = np.mean(df.Data)
df.Data = df.Data - [mu]*len(df.Data)
df.Data = np.abs(df.Data)

C:\Anaconda2\lib\site-packages\pandas\core\generic.py:2387: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [15]:
plt.plot(df.Time, df.Data , color='r', label = value_type+'Norm')
plt.xlabel('Time (minutes)')
plt.ylabel(value_type.capitalize() + ' (' + unit[value_type] + ')')
plt.legend(loc='best')
plt.title('Abs value of deviation')
plt.show()

In [16]:
timer = 0 # used in the for loop
for i in range(1,int(math.floor(max(time))/window_short)):
    # the loop goes through the entire file
    # temp contains the data for only one time window
    temp = df[(df['Time'] > timer) & (df['Time'] < timer + window_short)]
    if len(temp) >0:
        results.loc[i] = [0,0,0,0,np.mean(temp.Time), np.max(temp.Data)]
    timer = timer + window_short

In [17]:
results.head(10)

   LTA  STA  STA_LTA  event       time     value
0    0    0        0      0   0.000000  0.000000
1    0    0        0      0   5.008122  0.058635
2    0    0        0      0  15.007440  0.071102
3    0    0        0      0  25.006716  0.501803
4    0    0        0      0  35.006002  0.060979
5    0    0        0      0  45.005297  0.060530
6    0    0        0      0  55.004607  0.058241
7    0    0        0      0  65.003902  0.058201
8    0    0        0      0  75.003200  0.060994
9    0    0        0      0  85.002507  0.176761

In [18]:
percent = 1.2

In [19]:
results.iloc[2,:][1]

0.0

In [20]:
sub = results[0:100]
sub.head(10)

   LTA  STA  STA_LTA  event       time     value
0    0    0        0      0   0.000000  0.000000
1    0    0        0      0   5.008122  0.058635
2    0    0        0      0  15.007440  0.071102
3    0    0        0      0  25.006716  0.501803
4    0    0        0      0  35.006002  0.060979
5    0    0        0      0  45.005297  0.060530
6    0    0        0      0  55.004607  0.058241
7    0    0        0      0  65.003902  0.058201
8    0    0        0      0  75.003200  0.060994
9    0    0        0      0  85.002507  0.176761

In [21]:
sub = results
count = 0
temp =[]
for index,row in sub.iterrows():
    if count == 0:
        for i in range(0,window_long_factor):
            #temporary value, stores the value of the 10-ith mean value before the current time
            temp.append(sub.iloc[i,:][5])
    if count > window_long_factor-1:
        STA = row[5] # STA is not included in the temp list
        LTA = np.mean(temp)
        sub.STA[index] = STA
        sub.LTA[index] = LTA
        sub.STA_LTA[index] = STA/float(LTA)
        #print count, STA/float(LTA)
        if STA/float(LTA) > percent:
            #print count
            sub.event[index] = 1
        for i in range(0,window_long_factor-1):
            temp[i] = temp[i+1]
        temp[window_long_factor-1] = STA
    count = count + 1

In [22]:
print sub[sub['event'] == 1]

           LTA       STA    STA_LTA  event          time     value
9     0.059789  0.176761   2.956404      1     85.002507  0.176761
19    0.062327  0.080024   1.283931      1    184.995539  0.080024
22    0.064291  0.100595   1.564679      1    214.993442  0.100595
23    0.072575  0.186582   2.570881      1    224.992754  0.186582
29    0.067841  0.082291   1.212994      1    285.005280  0.082291
45    0.062841  0.076769   1.221644      1    444.994233  0.076769
46    0.064516  0.153416   2.377956      1    454.993565  0.153416
63    0.060935  0.079488   1.304474      1    624.998611  0.079488
140   0.060774  0.345435   5.683899      1   1394.994891  0.345435
142   0.120121  0.324355   2.700228      1   1414.993496  0.324355
161   0.060825  0.078772   1.295067      1   1604.996902  0.078772
172   0.063555  0.116456   1.832362      1   1715.005898  0.116456
181   0.062094  0.102507   1.650832      1   1804.999685  0.102507
188   0.066209  0.118681   1.792524      1   1874.994946  0.118681
192   0.072736  0.131057   1.801833      1   1914.992152  0.131057
288   0.060164  0.076617   1.273462      1   2874.993633  0.076617
290   0.064234  0.133763   2.082416      1   2894.992349  0.133763
307   0.063134  0.119001   1.884890      1   3064.996933  0.119001
315   0.061521  0.080191   1.303475      1   3144.999884  0.080191
316   0.065453  0.212131   3.240982      1   3155.007291  0.212131
326   0.065861  0.081834   1.242530      1   3255.000523  0.081834
332   0.066431  0.082231   1.237831      1   3314.996801  0.082231
433   0.061919  0.075399   1.217707      1   4325.002699  0.075399
439   0.064686  0.145214   2.244925      1   4384.997750  0.145214
575   0.066505  0.319112   4.798303      1   5745.001194  0.319112
585   0.062085  0.076947   1.239379      1   5844.996791  0.076947
589   0.063042  0.235734   3.739325      1   5885.007156  0.235734
598   0.064073  0.084020   1.311317      1   5975.000811  0.084020
602   0.064950  0.081819   1.259725      1   6015.006705  0.081819
606   0.063140  0.123452   1.955218      1   6055.005932  0.123452
...        ...       ...        ...    ...           ...       ...
880   0.065703  0.116359   1.770991      1   8795.002084  0.116359
890   0.067468  0.083571   1.238672      1   8895.019716  0.083571
893   0.072567  0.105608   1.455324      1   8925.045023  0.105608
908   0.064298  0.141226   2.196410      1   9074.877474  0.141226
1010  0.061739  1.205856  19.531510      1  10095.002087  1.205856
1025  0.065371  0.116314   1.779294      1  10244.995372  0.116314
1043  0.063230  0.080760   1.277251      1  10424.992836  0.080760
1045  0.066610  0.083705   1.256648      1  10445.108520  0.083705
1055  0.063554  0.084359   1.327367      1  10545.014848  0.084359
1056  0.067339  0.118407   1.758369      1  10554.961229  0.118407
1061  0.080089  0.179592   2.242409      1  10605.004229  0.179592
1148  0.059424  0.142518   2.398324      1  11475.014220  0.142518
1149  0.076087  0.134397   1.766346      1  11484.981674  0.134397
1156  0.065358  0.084860   1.298389      1  11555.013146  0.084860
1161  0.067639  0.124621   1.842452      1  11604.975711  0.124621
1163  0.075700  0.142751   1.885743      1  11624.963829  0.142751
1170  0.062567  0.091807   1.467342      1  11694.942002  0.091807
1172  0.070184  0.110152   1.569473      1  11714.925179  0.110152
1180  0.063420  0.080901   1.275645      1  11794.977087  0.080901
1199  0.064720  0.080219   1.239486      1  11984.987028  0.080219
1209  0.062743  0.092951   1.481456      1  12084.984196  0.092951
1289  0.061715  0.076999   1.247657      1  12885.320747  0.076999
1292  0.065705  0.082866   1.261187      1  12914.990860  0.082866
1300  0.066972  0.117417   1.753223      1  12995.158524  0.117417
1327  0.063399  0.085032   1.341208      1  13265.065221  0.085032
1328  0.067724  0.084894   1.253531      1  13275.024037  0.084894
1329  0.071814  0.101721   1.416449      1  13284.983603  0.101721
1339  0.066480  0.085558   1.286968      1  13385.033164  0.085558
1348  0.064230  0.078182   1.217209      1  13475.000566  0.078182
1349  0.067342  0.095001   1.410737      1  13485.044422  0.095001

[73 rows x 6 columns]

In [23]:
plt.plot(df.Time, df.Data , color='r', label = value_type+'Norm')
plt.xlabel('Time (minutes)')
plt.ylabel(value_type.capitalize() + ' (' + unit[value_type] + ')')
plt.legend(loc='best')
plt.show()

In [24]:
plt.plot(results.time, results.event , color='r', label = "events")
plt.xlabel('Time (minutes)')
plt.ylabel(value_type.capitalize() + ' (' + unit[value_type] + ')')
plt.legend(loc='best')
plt.show()

In [25]:
count = 0
foo =[]
for i in range(0,len(results.event)):
    if results.event.iloc[i]>0:
        count = 0
    else:
        count = count +1
    foo.append(count)

In [26]:
plt.plot(foo)

In [27]:
results_copy = results.copy()

In [28]:
# 2 possibilities: detect "ïn bed" or detect "not in bed"
# blending algorithm

In [29]:
results_copy.head(30)

         LTA       STA   STA_LTA  event        time     value
0   0.000000  0.000000  0.000000      0    0.000000  0.000000
1   0.000000  0.000000  0.000000      0    5.008122  0.058635
2   0.000000  0.000000  0.000000      0   15.007440  0.071102
3   0.000000  0.000000  0.000000      0   25.006716  0.501803
4   0.000000  0.000000  0.000000      0   35.006002  0.060979
5   0.138504  0.060530  0.437028      0   45.005297  0.060530
6   0.150610  0.058241  0.386702      0   55.004607  0.058241
7   0.150531  0.058201  0.386641      0   65.003902  0.058201
8   0.147951  0.060994  0.412260      0   75.003200  0.060994
9   0.059789  0.176761  2.956404      1   85.002507  0.176761
10  0.082945  0.068349  0.824018      0   95.001804  0.068349
11  0.084509  0.058523  0.692507      0  105.001131  0.058523
12  0.084566  0.061413  0.726213      0  115.000439  0.061413
13  0.085208  0.059373  0.696804      0  124.999733  0.059373
14  0.084884  0.073452  0.865320      0  134.999042  0.073452
15  0.064222  0.063070  0.982063      0  144.998323  0.063070
16  0.063166  0.057386  0.908496      0  154.997619  0.057386
17  0.062939  0.059176  0.940215      0  164.996929  0.059176
18  0.062491  0.058552  0.936969      0  174.996228  0.058552
19  0.062327  0.080024  1.283931      1  184.995539  0.080024
20  0.063642  0.061392  0.964647      0  194.994837  0.061392
21  0.063306  0.062313  0.984316      0  204.994140  0.062313
22  0.064291  0.100595  1.564679      1  214.993442  0.100595
23  0.072575  0.186582  2.570881      1  224.992754  0.186582
24  0.098181  0.059001  0.600938      0  235.000386  0.059001
25  0.093977  0.059481  0.632936      0  245.008032  0.059481
26  0.093595  0.080373  0.858740      0  255.007334  0.080373
27  0.097207  0.080881  0.832048      0  265.006634  0.080881
28  0.093264  0.059470  0.637654      0  275.005947  0.059470
29  0.067841  0.082291  1.212994      1  285.005280  0.082291

In [30]:
range_in_future = 10

In [31]:
results_copy.event.iloc[0:(1+range_in_future)]

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     1
10    0
Name: event, dtype: float64

In [32]:
range_in_future = 20
for i in range(1,len(results_copy)):
    if results_copy.event.iloc[i] == 0:
        if (np.sum(results_copy.event.iloc[i:(i+range_in_future)]) >0) and (np.sum(results_copy.event.iloc[i-1]) >0):
            results_copy.event.iloc[i] = .5

In [33]:
np.sum(results_copy.event.iloc[i:(i+range_in_future)])

0.0

In [35]:
plt.plot(results_copy.time, results_copy.event , color='r', label = "events")
plt.xlabel('Time (minutes)')
plt.ylabel(value_type.capitalize() + ' (' + unit[value_type] + ')')
plt.legend(loc='best')
plt.show()