In [1]:
import numpy as np
import pandas as pd

In [2]:
X = pd.read_csv("X.csv")

In [3]:
X.head()

,Time_stamp,bed_feat.csv_Mean,bed_feat.csv_Max,bed_feat.csv_Min,bed_feat.csv_Max-Min,bed_feat.csv_Std,bed_feat.csv_Variance,bed_feat.csv_RMS,bed_feat.csv_End-Start,bed_feat.csv_hour,...,stove_feat.csv_hour,toilet_feat.csv_Mean,toilet_feat.csv_Max,toilet_feat.csv_Min,toilet_feat.csv_Max-Min,toilet_feat.csv_Std,toilet_feat.csv_Variance,toilet_feat.csv_RMS,toilet_feat.csv_End-Start,toilet_feat.csv_hour
0,2016-02-20 00:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
1,2016-02-20 00:02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2,2016-02-20 00:03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3,2016-02-20 00:04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
4,2016-02-20 00:05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

In [4]:
X.shape

(40137, 64)

In [5]:
X.columns

Index([u'Time_stamp', u'bed_feat.csv_Mean', u'bed_feat.csv_Max',
       u'bed_feat.csv_Min', u'bed_feat.csv_Max-Min', u'bed_feat.csv_Std',
       u'bed_feat.csv_Variance', u'bed_feat.csv_RMS',
       u'bed_feat.csv_End-Start', u'bed_feat.csv_hour',
       u'cupboard_feat.csv_Mean', u'cupboard_feat.csv_Max',
       u'cupboard_feat.csv_Min', u'cupboard_feat.csv_Max-Min',
       u'cupboard_feat.csv_Std', u'cupboard_feat.csv_Variance',
       u'cupboard_feat.csv_RMS', u'cupboard_feat.csv_End-Start',
       u'cupboard_feat.csv_hour', u'fridge_feat.csv_Mean',
       u'fridge_feat.csv_Max', u'fridge_feat.csv_Min',
       u'fridge_feat.csv_Max-Min', u'fridge_feat.csv_Std',
       u'fridge_feat.csv_Variance', u'fridge_feat.csv_RMS',
       u'fridge_feat.csv_End-Start', u'fridge_feat.csv_hour',
       u'rice_feat.csv_Mean', u'rice_feat.csv_Max', u'rice_feat.csv_Min',
       u'rice_feat.csv_Max-Min', u'rice_feat.csv_Std',
       u'rice_feat.csv_Variance', u'rice_feat.csv_RMS',
       u'rice_feat.csv_End-Start', u'rice_feat.csv_hour',
       u'shower_temp_feat.csv_Mean', u'shower_temp_feat.csv_Max',
       u'shower_temp_feat.csv_Min', u'shower_temp_feat.csv_Max-Min',
       u'shower_temp_feat.csv_Std', u'shower_temp_feat.csv_Variance',
       u'shower_temp_feat.csv_RMS', u'shower_temp_feat.csv_End-Start',
       u'shower_temp_feat.csv_hour', u'stove_feat.csv_Mean',
       u'stove_feat.csv_Max', u'stove_feat.csv_Min', u'stove_feat.csv_Max-Min',
       u'stove_feat.csv_Std', u'stove_feat.csv_Variance',
       u'stove_feat.csv_RMS', u'stove_feat.csv_End-Start',
       u'stove_feat.csv_hour', u'toilet_feat.csv_Mean', u'toilet_feat.csv_Max',
       u'toilet_feat.csv_Min', u'toilet_feat.csv_Max-Min',
       u'toilet_feat.csv_Std', u'toilet_feat.csv_Variance',
       u'toilet_feat.csv_RMS', u'toilet_feat.csv_End-Start',
       u'toilet_feat.csv_hour'],
      dtype='object')

In [6]:
X.drop(['toilet_feat.csv_hour', 'stove_feat.csv_hour','shower_temp_feat.csv_hour', 'cupboard_feat.csv_hour', 'fridge_feat.csv_hour',
       ], axis=1, inplace=True)

In [7]:
X.columns

Index([u'Time_stamp', u'bed_feat.csv_Mean', u'bed_feat.csv_Max',
       u'bed_feat.csv_Min', u'bed_feat.csv_Max-Min', u'bed_feat.csv_Std',
       u'bed_feat.csv_Variance', u'bed_feat.csv_RMS',
       u'bed_feat.csv_End-Start', u'bed_feat.csv_hour',
       u'cupboard_feat.csv_Mean', u'cupboard_feat.csv_Max',
       u'cupboard_feat.csv_Min', u'cupboard_feat.csv_Max-Min',
       u'cupboard_feat.csv_Std', u'cupboard_feat.csv_Variance',
       u'cupboard_feat.csv_RMS', u'cupboard_feat.csv_End-Start',
       u'fridge_feat.csv_Mean', u'fridge_feat.csv_Max', u'fridge_feat.csv_Min',
       u'fridge_feat.csv_Max-Min', u'fridge_feat.csv_Std',
       u'fridge_feat.csv_Variance', u'fridge_feat.csv_RMS',
       u'fridge_feat.csv_End-Start', u'rice_feat.csv_Mean',
       u'rice_feat.csv_Max', u'rice_feat.csv_Min', u'rice_feat.csv_Max-Min',
       u'rice_feat.csv_Std', u'rice_feat.csv_Variance', u'rice_feat.csv_RMS',
       u'rice_feat.csv_End-Start', u'rice_feat.csv_hour',
       u'shower_temp_feat.csv_Mean', u'shower_temp_feat.csv_Max',
       u'shower_temp_feat.csv_Min', u'shower_temp_feat.csv_Max-Min',
       u'shower_temp_feat.csv_Std', u'shower_temp_feat.csv_Variance',
       u'shower_temp_feat.csv_RMS', u'shower_temp_feat.csv_End-Start',
       u'stove_feat.csv_Mean', u'stove_feat.csv_Max', u'stove_feat.csv_Min',
       u'stove_feat.csv_Max-Min', u'stove_feat.csv_Std',
       u'stove_feat.csv_Variance', u'stove_feat.csv_RMS',
       u'stove_feat.csv_End-Start', u'toilet_feat.csv_Mean',
       u'toilet_feat.csv_Max', u'toilet_feat.csv_Min',
       u'toilet_feat.csv_Max-Min', u'toilet_feat.csv_Std',
       u'toilet_feat.csv_Variance', u'toilet_feat.csv_RMS',
       u'toilet_feat.csv_End-Start'],
      dtype='object')

In [8]:
X.columns = [u'Time_stamp', u'bed_feat_Mean', u'bed_feat_Max',
       u'bed_feat_Min', u'bed_feat_Max-Min', u'bed_feat_Std',
       u'bed_feat_Variance', u'bed_feat_RMS',
       u'bed_feat_End-Start', u'bed_feat_hour',
       u'cupboard_feat_Mean', u'cupboard_feat_Max',
       u'cupboard_feat_Min', u'cupboard_feat_Max-Min',
       u'cupboard_feat_Std', u'cupboard_feat_Variance',
       u'cupboard_feat_RMS', u'cupboard_feat_End-Start',
       u'fridge_feat_Mean', u'fridge_feat_Max', u'fridge_feat_Min',
       u'fridge_feat_Max-Min', u'fridge_feat_Std',
       u'fridge_feat_Variance', u'fridge_feat_RMS',
       u'fridge_feat_End-Start', u'rice_feat_Mean',
       u'rice_feat_Max', u'rice_feat_Min', u'rice_feat_Max-Min',
       u'rice_feat_Std', u'rice_feat_Variance', u'rice_feat_RMS',
       u'rice_feat_End-Start', u'rice_feat_hour',
       u'shower_temp_feat_Mean', u'shower_temp_feat_Max',
       u'shower_temp_feat_Min', u'shower_temp_feat_Max-Min',
       u'shower_temp_feat_Std', u'shower_temp_feat_Variance',
       u'shower_temp_feat_RMS', u'shower_temp_feat_End-Start',
       u'stove_feat_Mean', u'stove_feat_Max', u'stove_feat_Min',
       u'stove_feat_Max-Min', u'stove_feat_Std',
       u'stove_feat_Variance', u'stove_feat_RMS',
       u'stove_feat_End-Start', u'toilet_feat_Mean',
       u'toilet_feat_Max', u'toilet_feat_Min',
       u'toilet_feat_Max-Min', u'toilet_feat_Std',
       u'toilet_feat_Variance', u'toilet_feat_RMS',
       u'toilet_feat_End-Start']

In [10]:
X.columns;

In [11]:
X.head()

,Time_stamp,bed_feat_Mean,bed_feat_Max,bed_feat_Min,bed_feat_Max-Min,bed_feat_Std,bed_feat_Variance,bed_feat_RMS,bed_feat_End-Start,bed_feat_hour,...,stove_feat_RMS,stove_feat_End-Start,toilet_feat_Mean,toilet_feat_Max,toilet_feat_Min,toilet_feat_Max-Min,toilet_feat_Std,toilet_feat_Variance,toilet_feat_RMS,toilet_feat_End-Start
0,2016-02-20 00:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2016-02-20 00:02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2016-02-20 00:03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,2016-02-20 00:04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,2016-02-20 00:05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [12]:
presence = pd.read_csv("presence.csv")

In [13]:
presence.columns = [u'Time_stamp', u'Pres_bath', u'Pres_kitch', u'Pres_bed']
presence.head()

            Time_stamp  Pres_bath  Pres_kitch  Pres_bed
0  2016-02-20 00:01:00          0           0         0
1  2016-02-20 00:02:00          0           0         0
2  2016-02-20 00:03:00          0           0         0
3  2016-02-20 00:04:00          0           0         0
4  2016-02-20 00:05:00          0           0         0

In [14]:
X2 = pd.merge(X, presence, on="Time_stamp")

In [15]:
X2.shape

(40137, 62)

In [ ]:
X2.head()

In [82]:
y = pd.read_csv("y.csv", header=None)

In [83]:
y.shape

(40137, 2)

In [84]:
y.head()
y.columns = ['Time_stamp', 'Activity']

In [85]:
y.head()

            Time_stamp Activity
0  2016-02-20 00:01:00    Other
1  2016-02-20 00:02:00    Other
2  2016-02-20 00:03:00    Other
3  2016-02-20 00:04:00    Other
4  2016-02-20 00:05:00    Other

In [94]:
Xy = pd.merge(X2, y, on='Time_stamp')

In [95]:
Xy_dropna = Xy.dropna(axis=0, thresh=35)
Xy_dropna.shape

(17612, 63)

In [96]:
Xy_dropna.head()

,Time_stamp,bed_feat_Mean,bed_feat_Max,bed_feat_Min,bed_feat_Max-Min,bed_feat_Std,bed_feat_Variance,bed_feat_RMS,bed_feat_End-Start,bed_feat_hour,...,toilet_feat_Min,toilet_feat_Max-Min,toilet_feat_Std,toilet_feat_Variance,toilet_feat_RMS,toilet_feat_End-Start,Pres_bath,Pres_kitch,Pres_bed,Activity
9883,2016-02-26 20:44:00,1.107655,1.134038,1.057584,0.076454,0.031402,0.000986,1.108100,-0.003617,20,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,Other
9884,2016-02-26 20:45:00,1.111174,1.133779,1.056180,0.077599,0.030063,0.000904,1.111581,0.000243,20,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,Other
9887,2016-02-26 20:48:00,1.117367,1.135657,1.058393,0.077264,0.026098,0.000681,1.117672,0.000286,20,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,Other
9888,2016-02-26 20:49:00,1.100872,1.134256,1.056614,0.077642,0.033385,0.001115,1.101378,-0.003988,20,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,Other
9889,2016-02-26 20:50:00,1.123205,1.134190,1.058428,0.075762,0.019643,0.000386,1.123377,0.003863,20,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,Other

In [97]:
y2 = Xy_dropna['Activity']
Xy_dropna.drop(['Activity', 'Time_stamp', 'Pres_kitch', 'Pres_bath', 'Pres_bed'], axis=1, inplace =True)
# , 'Pres_kitch', 'Pres_bath', 'Pres_bed'

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [98]:
from sklearn.preprocessing import Imputer
imp = Imputer()

In [99]:
Xy_imp = imp.fit_transform(Xy_dropna)

In [105]:
X3 = pd.DataFrame(Xy_imp)
np.sum(X3.isnull());

In [101]:
mapping = {'Change':0, 'Cook':1, 'Eat':2, 'Other':0, 'Rice cooker':1, 'Shower':3, 'Sleep':4,
       'TV':5, 'Toilet':6}
y2.replace(mapping, inplace=True)

In [102]:
from collections import Counter
Counter(y2)

Counter({0: 11846, 1: 129, 2: 157, 3: 68, 4: 5376, 6: 36})

In [103]:
X3.shape

(17612, 58)

In [106]:
from sklearn import tree
from sklearn import cross_validation
clf = tree.DecisionTreeClassifier()
scores = cross_validation.cross_val_score(clf, X3, y2, cv=10)

In [107]:
scores

array([ 0.83096994,  0.54849688,  0.86103233,  0.80657969,  0.75155984,
        0.64889393,  0.91704545,  0.83172257,  0.33333333,  0.66761525])

In [112]:
np.mean(scores)

0.71972492256542853

In [108]:
Counter(y2)

Counter({0: 11846, 1: 129, 2: 157, 3: 68, 4: 5376, 6: 36})

In [109]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X3, y2, test_size=0.33, random_state=2)

In [110]:
clf = tree.DecisionTreeClassifier()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [111]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_pred, y_test)

array([[3798,   22,   13,   21,   49,    9],
       [  18,   23,    5,    0,    0,    0],
       [  18,   13,   27,    1,    0,    0],
       [  18,    0,    0,    4,    0,    0],
       [  37,    0,    0,    2, 1724,    1],
       [   8,    0,    0,    0,    1,    0]])

In [51]:
17612.0/(60*24)

12.230555555555556

## Counter

In [113]:
import os
os.chdir('/Users/marie/Documents/Capstone/Capstone_MachineLearning/New data/sensor files')
os.getcwd()

'/Users/marie/Documents/Capstone/Capstone_MachineLearning/New data/sensor files'

In [117]:
humidity = pd.read_csv("20160329232406 to 20160401232729 B0B448B8A585 Humidity(rH).csv", header=None)

In [118]:
humidity.shape

(603101, 4)

In [119]:
humidity.head()

                         0                  1             2          3
0  2016-03-29 23:24:16.730  B0:B4:48:B8:A5:85  Humidity(rH)  82.929581
1  2016-03-29 23:24:16.963  B0:B4:48:B8:A5:85  Humidity(rH)  -1.017930
2  2016-03-29 23:24:17.696  B0:B4:48:B8:A5:85  Humidity(rH)  82.929581
3  2016-03-29 23:24:17.989  B0:B4:48:B8:A5:85  Humidity(rH)  -1.017930
4  2016-03-29 23:24:18.726  B0:B4:48:B8:A5:85  Humidity(rH)  82.929581

In [142]:
c_h = Counter(humidity[3])
print c_h.most_common(3)

[(82.929580688476562, 301933), (-1.1628899574279783, 10465), (-1.1552605628967283, 8263)]

In [139]:
mattress = pd.read_csv("20160328170855 to 20160331171411 B0B448B8F204 Accelerometer(G).csv", header=None)

In [140]:
mattress.shape

(1528201, 14)

In [141]:
c_h = Counter(mattress[3])
print c_h.most_common(3)

[(-0.0, 81399), (0.02587890625, 36179), (0.025634765625, 35797)]

In [125]:
humidity_2 = pd.read_csv('20160402112805 to 20160405113116 B0B448B8A585 Humidity(rH).csv', header=None)

In [127]:
humidity.head()

                         0                  1             2          3
0  2016-03-29 23:24:16.730  B0:B4:48:B8:A5:85  Humidity(rH)  82.929581
1  2016-03-29 23:24:16.963  B0:B4:48:B8:A5:85  Humidity(rH)  -1.017930
2  2016-03-29 23:24:17.696  B0:B4:48:B8:A5:85  Humidity(rH)  82.929581
3  2016-03-29 23:24:17.989  B0:B4:48:B8:A5:85  Humidity(rH)  -1.017930
4  2016-03-29 23:24:18.726  B0:B4:48:B8:A5:85  Humidity(rH)  82.929581

In [137]:
c_h_2 = Counter(humidity_2[3])
print c_h_2.most_common(3)

[(82.929580688476562, 302001), (-0.88822746276855469, 9401), (-0.78904390335083008, 8739)]

In [129]:
humidity_2.shape

(603248, 4)

In [130]:
mattress_2 = pd.read_csv('20160401051452 to 20160409121927 B0B448B8F204 Accelerometer(G).csv', header=None)

In [131]:
mattress_2.shape

(849009, 14)

In [132]:
mattress_2.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,2016-04-01 05:11:34.103,B0:B4:48:B8:F2:04,Accelerometer(G),0.019287,0.001709,1.060059,Gyroscope(deg/s),-2.765625,0.375000,0.445312,Magnetometer(uT),0,0,0
1,2016-04-01 05:11:34.443,B0:B4:48:B8:F2:04,Accelerometer(G),-0.000000,0.000000,-0.000000,Gyroscope(deg/s),0.000000,0.000000,0.000000,Magnetometer(uT),0,0,0
2,2016-04-01 05:11:34.445,B0:B4:48:B8:F2:04,Accelerometer(G),0.018799,-0.066162,1.058105,Gyroscope(deg/s),-2.890625,0.781250,0.234375,Magnetometer(uT),0,0,0
3,2016-04-01 05:11:34.638,B0:B4:48:B8:F2:04,Accelerometer(G),0.016357,-0.063232,1.126221,Gyroscope(deg/s),-2.859375,0.523438,0.414062,Magnetometer(uT),0,0,0
4,2016-04-01 05:11:34.833,B0:B4:48:B8:F2:04,Accelerometer(G),0.017578,-0.065430,1.130127,Gyroscope(deg/s),-2.843750,0.500000,0.398438,Magnetometer(uT),0,0,0

In [136]:
c = Counter(mattress_2[3]**2+mattress_2[4]**2+mattress_2[5]**2)
print c.most_common(3)

[(0.0, 48423), (1.270159125328064, 76), (1.2723643183708191, 73)]

In [135]:
48423/849009.0 * 100

5.703473108058925

In [145]:
cb = Counter(mattress_2[3])
print cb.most_common(3)

[(-0.0, 48423), (0.025390625, 26764), (0.025634765625, 26753)]

In [147]:
toilet = pd.read_csv("20160329232406 to 20160401232729 B0B448D01606 Accelerometer(G).csv", header=None)

In [148]:
toilet.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,2016-03-29 23:24:14.138,B0:B4:48:D0:16:06,Accelerometer(G),0.142822,1.006348,0.138184,Gyroscope(deg/s),-2.296875,-0.750000,0.867188,Magnetometer(uT),43.000000,-59.000000,-104.500000
1,2016-03-29 23:24:14.335,B0:B4:48:D0:16:06,Accelerometer(G),0.142822,1.004639,0.133545,Gyroscope(deg/s),-2.726562,-0.593750,0.703125,Magnetometer(uT),-1.666667,-60.333332,-104.500000
2,2016-03-29 23:24:14.569,B0:B4:48:D0:16:06,Accelerometer(G),0.143311,1.007324,0.135498,Gyroscope(deg/s),-2.351562,-0.632812,0.820312,Magnetometer(uT),-2.000000,-59.833332,-102.833336
3,2016-03-29 23:24:14.709,B0:B4:48:D0:16:06,Accelerometer(G),0.140137,1.008789,0.133057,Gyroscope(deg/s),-2.312500,-0.750000,-0.976562,Magnetometer(uT),-1.833333,-60.500000,-103.833336
4,2016-03-29 23:24:14.924,B0:B4:48:D0:16:06,Accelerometer(G),0.147705,1.005859,0.136230,Gyroscope(deg/s),-2.273438,-0.710938,0.812500,Magnetometer(uT),-0.166667,-59.166668,-103.833336

In [151]:
c_t = Counter(np.sqrt(toilet[11]**2+toilet[12]**2+toilet[13]**2))
c_t

Counter({0.0: 71,
         87.5: 1,
         120.29016130133317: 18,
         119.48663401251255: 179,
         120.71753011768453: 1,
         121.02685652366586: 156,
         127.59430046293957: 14,
         117.51619493019177: 17,
         119.27780365353534: 24,
         127.81268536368489: 1,
         129.92102569386083: 466,
         127.04089618306176: 441,
         87.226077310765731: 8,
         120.53653266196879: 690,
         128.37824141089399: 332,
         128.96662091651805: 863,
         125.82107903640063: 4,
         119.47128675584072: 436,
         119.53741859523038: 85,
         87.475393367442635: 3,
         129.60163217525403: 410,
         117.18433057203549: 1,
         125.51416462722841: 1,
         128.16980923758916: 30,
         121.00516234733765: 1,
         118.73523450818317: 1,
         87.748693172979685: 1,
         124.52420617357949: 1,
         88.365087760964414: 9,
         116.75211219654732: 1,
         117.51370918073734: 5,
         125.8518745808486: 171,
         121.91800679226252: 50,
         125.98203284883512: 64,
         87.147865591961178: 1,
         120.57489825131566: 161,
         119.80075899951136: 4,
         98.552437593792234: 8,
         99.021462320044535: 4,
         119.04352675744823: 416,
         118.20850507044474: 263,
         129.64760117160989: 47,
         120.5860688471102: 293,
         118.04966155434575: 52,
         126.23545270815653: 757,
         116.91236317584196: 3,
         130.48158702648965: 3,
         122.25269538458053: 167,
         120.3657635145489: 1,
         130.31905187556063: 2,
         99.618296866916751: 6,
         128.94637228241251: 3,
         119.16852926308067: 555,
         97.161235779693428: 1,
         125.19163150437716: 3,
         100.61988483746302: 1,
         88.304241540900179: 2,
         120.08573610442646: 58,
         121.99851719071536: 423,
         125.33698813202633: 37,
         122.22974943467796: 121,
         121.90934544046961: 2,
         129.64577869951734: 123,
         85.828962388826383: 1,
         87.843611036887594: 1,
         126.92670927768755: 170,
         129.17623620465181: 3,
         128.06693113492673: 53,
         88.352358296363576: 18,
         121.43974206931112: 83,
         118.83146612472437: 218,
         129.21096280778752: 89,
         121.35130297696936: 1897,
         128.39230346449145: 20,
         121.35359199355113: 1520,
         128.50540261759056: 1,
         118.22084138499116: 46,
         129.81375339739441: 153,
         128.60458614549358: 57,
         118.91243117445524: 3,
         121.64726029221305: 733,
         126.95909273667253: 1,
         120.31221181155175: 398,
         119.71354854844564: 5,
         125.02333301718687: 1,
         88.53843927444116: 142,
         119.33030945823874: 13,
         128.54625033506878: 31,
         126.66118143987522: 6,
         129.77213185982936: 19,
         126.94377477252674: 2,
         88.335376465608803: 71,
         128.56796985084767: 88,
         129.89237205708844: 14,
         121.68938082790559: 82,
         117.27022228792217: 1,
         129.5213414415858: 217,
         119.29817695343021: 1,
         128.44248459613979: 12,
         121.98872898755852: 1,
         130.14884539369797: 255,
         117.58696545311021: 33,
         125.02544229431713: 6,
         225.36637559223203: 1,
         120.11522530261301: 11,
         121.71129472998184: 476,
         130.81974555565677: 12,
         130.58628687047153: 24,
         123.01592193745988: 28,
         126.81230870556202: 39,
         118.67766519361071: 10,
         121.37956994486346: 2,
         122.91652694780419: 2,
         127.59539100749605: 31,
         127.36910329905825: 44,
         126.65197120883131: 50,
         121.86855457792655: 23,
         127.60845371233107: 23,
         125.75759324459807: 13,
         119.88350889616109: 23,
         120.65584820003116: 2,
         102.44863387533798: 1,
         128.53307159391906: 480,
         121.58010399437808: 1275,
         127.01421660936079: 773,
         121.4159501573768: 1287,
         129.53978619499472: 9,
         122.48015931016577: 87,
         99.622340791323381: 7,
         120.77297405815298: 1958,
         127.05871237635343: 30,
         122.63552528245202: 3,
         128.01616796730718: 8,
         123.25154946202026: 4,
         130.93096334063137: 18,
         88.852871917527722: 2,
         97.559381728810209: 343,
         97.709745345659599: 1,
         125.4373455704509: 1,
         119.87829411356536: 493,
         118.63271923355302: 107,
         121.70193334022645: 2,
         122.0753426064326: 815,
         127.34915073209618: 1,
         120.44662410054966: 18,
         123.25955155261192: 19,
         129.93908608725289: 1,
         119.79519621240786: 55,
         119.55252054995447: 1,
         129.38604714717292: 3,
         122.42480532050878: 37,
         88.057587430544601: 2,
         117.83133019860668: 1,
         121.85510364104194: 622,
         128.12005863740575: 1532,
         127.87027112649179: 6,
         117.80975499360413: 23,
         127.22082740892706: 49,
         87.117739166902297: 13,
         117.29461955965978: 1,
         119.56994921550741: 36,
         89.27749935249625: 3,
         119.32553665579401: 18,
         122.22577234218481: 264,
         118.61352089758707: 5,
         99.122958781886211: 7,
         129.08319902341231: 698,
         119.96411560002015: 1,
         122.08899366490046: 206,
         118.20932469340536: 107,
         88.849125787787912: 1,
         130.69440666916171: 64,
         122.32300294307119: 657,
         129.91065513889569: 467,
         119.39453677209259: 3,
         99.999029112447275: 1,
         117.14722298477376: 3,
         126.37653219181105: 73,
         121.11438639194917: 26,
         129.76881195713432: 2,
         128.5286388305625: 307,
         128.92353668352297: 964,
         128.96791012341097: 1577,
         119.40442640270972: 6,
         128.94593792218959: 490,
         88.864753667645587: 5,
         119.91501620537341: 78,
         128.18183920401219: 2,
         85.847572698575334: 1,
         121.36331983344098: 572,
         120.54724974882704: 1438,
         126.67960473122372: 2,
         121.22522877410911: 2160,
         125.05021050345778: 71,
         126.92484460149581: 182,
         130.05586611524944: 1,
         121.00171891136337: 1675,
         121.36652628171429: 20,
         119.25986747832937: 1,
         120.8517255724509: 22,
         119.54206382864548: 2,
         128.83150331185271: 149,
         123.04752702511331: 1,
         127.81855407155665: 281,
         121.49897403113805: 3,
         128.19094142203201: 10,
         120.98829301213665: 110,
         129.2064453137958: 100,
         121.7266968936237: 901,
         121.2952092140539: 11,
         119.53730524686755: 81,
         126.27515940747084: 1,
         131.10915681079328: 2,
         127.21503999991903: 36,
         129.52584427639778: 489,
         127.97883833857001: 1650,
         98.668074118825615: 9,
         126.77638103013989: 1,
         96.146010513665956: 6,
         117.85996932824557: 42,
         126.41224614232756: 168,
         127.18937932072811: 100,
         119.69567609615477: 1912,
         122.29029828085312: 31,
         127.51100157269174: 1,
         127.18556222150256: 1793,
         121.9773408574498: 90,
         123.19755820997005: 28,
         121.20735279677579: 12,
         118.72435111580322: 17,
         120.28346372990826: 10,
         128.01974775714365: 1034,
         130.0442232473246: 19,
         121.28593613176383: 1,
         125.8793508145407: 5,
         126.09376771977442: 74,
         128.26913963373977: 9,
         117.65120229766818: 2,
         120.0679199494773: 347,
         128.18021264356847: 1,
         118.94746739632585: 2,
         129.65048944685168: 354,
         118.91371535712024: 708,
         128.28537799834152: 7,
         122.09047349104158: 161,
         127.61421648914761: 2429,
         119.19475255381013: 22,
         116.53969280893098: 1,
         86.674040049577854: 1,
         86.398305194970902: 17,
         120.6245322367197: 6,
         204.16068585828705: 1,
         118.72575926779012: 1,
         121.1103726725246: 24,
         193.40214202304574: 1,
         120.07798107995957: 685,
         119.2552096394969: 18,
         117.58141229449424: 5,
         127.8607092021451: 1444,
         125.68932258544473: 32,
         127.37804399970398: 89,
         130.54947666183611: 55,
         120.30989853142306: 40,
         130.48637441126178: 6,
         97.722679979520777: 12,
         120.4318633305419: 1,
         130.33568038518223: 1,
         118.83742679803551: 136,
         121.84530045460291: 132,
         120.14678367129534: 58,
         97.860162685694036: 18,
         118.9647467011783: 30,
         119.9598334411763: 50,
         97.197534869679558: 136,
         129.63945477700932: 5,
         118.70797218735565: 1,
         121.65730714342753: 222,
         130.5622467189516: 3,
         127.70724041104488: 27,
         126.53655598284632: 17,
         124.76522454282643: 1,
         89.063961388419813: 1,
         130.31084526834903: 153,
         102.30794978446771: 1,
         124.45983597868198: 1,
         125.02688333113771: 9,
         128.57541835188664: 267,
         120.48086304228657: 413,
         88.57419804956136: 24,
         122.89855735352828: 223,
         118.6733378292486: 6,
         119.94315561443646: 24,
         87.706266698554302: 2,
         88.001737967393765: 41,
         121.22958236022576: 2,
         97.549559656111029: 1,
         129.66827273416121: 6,
         225.8332790341847: 1,
         99.385894570599206: 14,
         122.56823713915045: 1,
         128.2971799499409: 16,
         129.23223889864599: 3,
         121.67739900051056: 312,
         120.65020830080823: 4,
         118.14715684657739: 117,
         120.86654779572051: 101,
         89.619874417647821: 6,
         121.46570004172972: 10,
         128.87213527563611: 6,
         122.64639494464798: 5,
         98.502962471292918: 132,
         117.56924673689589: 1,
         129.15591663705538: 3,
         119.23028826281836: 3,
         128.21271281200384: 16,
         119.7055386600894: 1,
         122.00033869274544: 321,
         99.757205253555497: 1,
         124.86148128622025: 1,
         120.30713232652923: 732,
         127.35394640041869: 35,
         100.07358158362273: 1,
         120.73501970323532: 4,
         119.99016387825066: 1,
         119.63253859104253: 361,
         117.26987139712297: 4,
         122.26178432771212: 713,
         120.59885131736739: 8,
         128.9578956050151: 2,
         118.60602317359712: 3,
         203.53303035659806: 1,
         125.03177417341318: 13,
         224.99531120595245: 1,
         120.66321357918829: 40,
         86.350225482453169: 1,
         122.13846940970789: 668,
         120.69820253010163: 102,
         130.71980110978214: 12,
         128.45503097481478: 19,
         118.49027213699175: 20,
         87.409797505240221: 156,
         117.59464273511783: 8,
         122.26632822659877: 360,
         130.43037511829581: 10,
         120.95476875271842: 27,
         125.68766151762243: 148,
         119.66782564365268: 1,
         89.642190972558851: 1,
         89.126779636900324: 44,
         126.79291747670601: 189,
         120.28727187983891: 1,
         127.19724506324478: 689,
         117.17283118913615: 5,
         126.93513011822711: 36,
         86.9624740226011: 1,
         125.2601730705954: 11,
         194.83083265106751: 1,
         88.301250144679031: 1,
         120.13996533410807: 5,
         121.06391570272746: 39,
         128.3990116925759: 142,
         120.59827928905881: 1,
         121.0805488642789: 268,
         121.26051149019682: 78,
         122.44749288308496: 3,
         89.466005732253123: 6,
         129.1314985378292: 51,
         86.429641092837358: 5,
         129.77298496071415: 44,
         87.677596690889104: 16,
         130.16293310883034: 16,
         118.71464536750149: 3,
         121.60786472522415: 411,
         121.47621924311035: 4,
         128.40701390846851: 1992,
         119.41163694545529: 444,
         128.84939725411931: 4,
         122.09172175451756: 1,
         118.55729821905943: 2,
         118.52964936101567: 127,
         118.48265288880604: 45,
         99.989580934062701: 3,
         119.17610466135727: 222,
         120.47532953215857: 783,
         125.06676038401007: 1,
         98.732379381034718: 11,
         105.87584280704196: 1,
         121.48491274175991: 12,
         128.85532426368096: 3,
         121.34248766233094: 59,
         96.667530437425071: 2,
         125.89799929513744: 72,
         120.73973543920356: 157,
         119.67409603182223: 236,
         120.3071323351168: 1,
         243.14072706125083: 1,
         125.52910386650559: 27,
         98.144735296827037: 55,
         87.655416511355241: 75,
         125.88707562007026: 1,
         119.90065616029634: 199,
         98.558218752881871: 6,
         130.8799263894212: 2,
         120.96257678613092: 34,
         126.71950456588243: 17,
         130.59245194774371: 58,
         127.18260925537429: 594,
         117.70183547851748: 6,
         118.78844470281216: 550,
         120.19220556905665: 221,
         120.68611944714917: 141,
         89.197655433249423: 1,
         126.15345651665024: 7,
         127.17015937984972: 2,
         129.90690845629229: 19,
         128.11019705425824: 46,
         88.246026895556568: 21,
         99.149439044561888: 1,
         89.184421909080129: 2,
         127.70473757852525: 374,
         119.38057882555675: 24,
         128.32304988465756: 1,
         119.74196950540696: 1,
         122.31516668017912: 140,
         128.0226734381944: 2679,
         121.99795233624909: 1,
         130.42388323560323: 150,
         121.02352625417916: 967,
         122.2450840366169: 7,
         129.759394654094: 146,
         128.54430690961763: 5,
         120.65170095510473: 31,
         117.48605182187583: 46,
         120.1467880627596: 1,
         87.649870630586804: 77,
         98.00637699969846: 71,
         89.363647199912918: 19,
         122.00842190174693: 6,
         99.973052473602223: 1,
         120.52270480159534: 1607,
         120.83264146277882: 1859,
         121.2680663117706: 1483,
         124.90585325982579: 7,
         97.360015919817414: 2,
         99.031982791525181: 73,
         89.598022926756911: 10,
         127.9902349909617: 10,
         98.654419873520041: 1,
         117.88070774743676: 1,
         121.13284434154414: 1,
         96.740632621458502: 1,
         122.8534561470852: 2,
         125.90185711741405: 1,
         122.54998980008118: 447,
         121.68081890866731: 7,
         124.52197500310449: 1,
         127.23916940287344: 2,
         130.33301423172779: 12,
         122.52142669753728: 9,
         126.53787622352834: 28,
         129.10407289948199: 16,
         127.77084787309502: 2,
         120.86792445565486: 3,
         98.614995109708772: 1,
         128.70649269889725: 253,
         130.7063102658835: 33,
         85.850805382026408: 1,
         119.88953248720257: 1107,
         120.46311037612389: 1,
         126.29077794521542: 23,
         126.00617106697236: 51,
         126.92407894051205: 25,
         127.46677333077156: 669,
         122.43433330514442: 134,
         158.30683846567536: 1,
         97.860017613073467: 79,
         118.94373308096043: 101,
         120.7920613105339: 3,
         88.853340850933947: 2,
         86.343148069292837: 2,
         128.49751460256573: 58,
         129.65767099120728: 5,
         117.99729281224376: 3,
         98.256327103157503: 4,
         128.70271781838557: 66,
         121.48548373415223: 673,
         119.62162285970206: 10,
         120.75618165702767: 90,
         128.82179915139145: 74,
         88.811595611589397: 8,
         127.90806172739497: 1,
         119.24787506051429: 66,
         88.82535924379269: 5,
         120.92341249850621: 189,
         88.780315635907328: 59,
         119.70031740615389: 1213,
         86.645672423860077: 15,
         117.57999863284667: 2,
         128.97286536322281: 9,
         125.88111662227577: 2,
         130.03909358532914: 203,
         117.65403549684942: 4,
         120.9014722044908: 178,
         128.32229331449079: 93,
         130.32235451203729: 47,
         120.81321955629132: 1412,
         127.07630863306802: 1,
         122.55180310550853: 320,
         119.11863675297838: 462,
         119.86775182247654: 101,
         126.40895085518939: 817,
         119.58457967283698: 7,
         118.05436757846948: 34,
         119.08738775093963: 2,
         121.35496602233098: 30,
         120.033677356081: 1,
         87.024583337089524: 2,
         128.26242629858521: 5,
         129.08029620261095: 484,
         130.32651303552933: 1,
         127.33922114915129: 22,
         119.49918420709136: 47,
         122.24486120754926: 22,
         121.75407756186721: 88,
         87.515552307923912: 242,
         120.07173557770086: 7,
         127.19560763141536: 169,
         128.30833045348504: 1,
         119.49721340264976: 7,
         119.36510284743792: 12,
         120.66643362742875: 31,
         126.43334039087512: 3,
         88.570280561414947: 18,
         129.93449306306471: 4,
         130.59617632412017: 27,
         120.5705187846515: 1507,
         89.959556988987757: 1,
         130.54863071951624: 35,
         128.56666850369513: 272,
         129.49699552201824: 1,
         121.46398359158638: 110,
         86.581689948954804: 2,
         117.45318061766741: 12,
         120.28323274956377: 12,
         126.73397334574499: 1,
         119.42675296184876: 10,
         128.91362560937372: 1891,
         99.161341956446861: 53,
         125.47930493559093: 1,
         121.86935014893511: 174,
         128.85338560837516: 14,
         121.64303203584025: 1,
         122.3043789527521: 417,
         99.184170246220461: 9,
         126.92364224796816: 163,
         119.68755838267137: 1,
         120.16586044001828: 54,
         89.365201371959373: 2,
         118.24468794207385: 3,
         128.69030393889142: 3,
         121.61025869637761: 51,
         127.05270282589852: 13,
         130.86358521225154: 25,
         98.429473334411497: 17,
         97.075714447608604: 4,
         125.68689007018054: 40,
         125.68545585701314: 126,
         129.27533107559353: 31,
         129.73626874959442: 1,
         119.77258391159057: 52,
         122.08444316476728: 319,
         118.39129751624543: 1,
         119.27908450352895: 273,
         126.52942067901313: 57,
         120.59689511350776: 23,
         118.85495208104051: 2,
         119.46222152631381: 5,
         126.91357659902798: 575,
         120.97680913670587: 75,
         128.81219992247159: 773,
         122.32129979001654: 748,
         127.80453826057978: 4,
         118.18664901248167: 3,
         118.39728165694456: 32,
         122.59848430503065: 5,
         89.166508186651129: 1,
         128.95972610732201: 17,
         122.37805656751198: 6,
         122.27530412965653: 15,
         117.92770919047423: 44,
         130.19440781166176: 105,
         88.266484991147649: 7,
         86.876989237867789: 18,
         128.13599771084091: 489,
         129.15742169017497: 121,
         128.42518295873418: 1,
         129.07039613130138: 1516,
         117.28467487209247: 1,
         127.41326007401533: 326,
         99.159522759343773: 26,
         126.91587075751808: 403,
         126.48912686647789: 88,
         130.04817277790741: 10,
         120.38202794228025: 1,
         129.71571667950019: 45,
         88.852093081858499: 1,
         119.49070226161878: 2,
         118.56843064292937: 166,
         117.40090099951499: 15,
         118.546519352117: 27,

In [157]:
os.chdir('/Users/marie/Documents/Capstone/Capstone_MachineLearning/files Ludo/sensor files')
hum = pd.read_csv("20160302105921 to 20160318234803 B0B448B8A585 Humidity(rH).csv", header=None)

In [158]:
hum.shape

(1640840, 4)

In [159]:
c = Counter(hum[3])
c.most_common(3)

[(118.99427795410156, 31889),
 (-0.88822746276855469, 16775),
 (-0.82719135284423828, 16146)]

In [160]:
fourier = np.fft.fft(hum[3])
n = hum[3].size
timestep = 0.1
freq = np.fft.fftfreq(n, d=timestep)
freq

array([  0.00000000e+00,   6.09443943e-06,   1.21888789e-05, ...,
        -1.82833183e-05,  -1.21888789e-05,  -6.09443943e-06])

In [170]:
os.chdir('/Users/marie/Documents/Capstone/Capstone_MachineLearning/New data/sensor files')
mat = pd.read_csv("20160328170855 to 20160331171411 B0B448B8F204 Accelerometer(G).csv", header=None)

In [171]:
mat.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,2016-03-28 17:08:55.405,B0:B4:48:B8:F2:04,Accelerometer(G),0.028809,0.005127,1.129395,Gyroscope(deg/s),-2.687500,0.820312,0.234375,Magnetometer(uT),0,0,0
1,2016-03-28 17:08:55.794,B0:B4:48:B8:F2:04,Accelerometer(G),-0.000000,0.000000,-0.000000,Gyroscope(deg/s),0.000000,0.000000,0.000000,Magnetometer(uT),0,0,0
2,2016-03-28 17:08:55.796,B0:B4:48:B8:F2:04,Accelerometer(G),-0.027100,0.003662,1.135742,Gyroscope(deg/s),-2.117188,2.046875,0.578125,Magnetometer(uT),0,0,0
3,2016-03-28 17:08:55.990,B0:B4:48:B8:F2:04,Accelerometer(G),-0.029053,0.006836,1.130371,Gyroscope(deg/s),-2.906250,0.640625,0.312500,Magnetometer(uT),0,0,0
4,2016-03-28 17:08:56.184,B0:B4:48:B8:F2:04,Accelerometer(G),-0.029053,0.008545,1.127930,Gyroscope(deg/s),-2.734375,0.687500,0.640625,Magnetometer(uT),0,0,0

In [172]:
c = Counter(np.sqrt(mat[3]**2+mat[4]**2+mat[4]**2))
c.most_common(3)

[(0.0, 81399), (0.032118181566329146, 2649), (0.030118484172293097, 2589)]

In [198]:
lengths = []
labels = y2
i=0
while i < len(labels):
    y_0 = labels.iloc[i]
    l = 1
    j=i+1
    while j < len(labels) and labels.iloc[j]==y_0 :
        l +=1
        j+=1
    i = j
    lengths.append(l)

In [200]:
sum(lengths)

17612

In [186]:
Counter(y2)

Counter({0: 11846, 1: 129, 2: 157, 3: 68, 4: 5376, 6: 36})

In [201]:
len(y2)

17612

In [203]:
from seqlearn.evaluation import SequenceKFold, whole_sequence_accuracy
kfold = SequenceKFold(lengths, n_folds=10, n_iter=1)

In [214]:
Y = pd.DataFrame(y2).as_matrix()
X = X3.as_matrix()

In [217]:
from seqlearn.hmm import MultinomialHMM
multinomial_hmm_scores = []
for train_index, train_lengths, test_index, test_lengths in kfold:
    X_train, Y_train, X_test, Y_test = X[train_index], Y[train_index], X[test_index], Y[test_index]
    
    # Instantiate and Train Multinomial HMM
    clf1 = MultinomialHMM()
    clf1.fit(X_train,Y_train, train_lengths)

    Y_pred1 = clf1.predict(X_test, test_lengths)
    
    hmm_score = whole_sequence_accuracy(Y_test, Y_pred1, test_lengths)
    
    multinomial_hmm_scores.append(hmm_score)

In [218]:
multinomial_hmm_scores

[0.4444444444444444,
 0.5,
 0.5555555555555556,
 0.4285714285714286,
 0.3571428571428571,
 0.4,
 0.1428571428571429,
 0.4736842105263158,
 0.42105263157894735,
 0.44999999999999996]